@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <form class="mt-2 mb-3 m-lg-4">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(User.Identity!.Name)!</a>
            </form>
        </li>
        if (User.IsInRole(AdministratorRoleName))
        {
            <li>
                <form class="mt-2 mb-3 m-lg-4">
                    <a asp-area="Admin" asp-controller="Admin" asp-action="Index" title="Admin">Administrator</a>
                </form>
            </li>
        }
        <li>
            <form class="mt-2 mb-3 m-lg-3 justify-content-between" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })">
                <button class="btn btn-outline-primary text-black" type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <form>
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
            </form>
        </li>
        <li class="nav-item">
            <form>
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
            </form>
        </li>
    }
</ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}