@model CreatePostInputViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <section>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Sender" class="form-label">Name of sender</label>
                    <input asp-for="Sender" class="form-control" aria-required="true" />
                    <span asp-validation-for="Sender" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Content" class="form-label">Your request</label>
                    <textarea asp-for="Content" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary mt-3 text-black" type="submit" value="Send" />
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
