@{
    ViewData["Title"] = "Information about our app";
}
<h1>@ViewData["Title"]</h1>
<hr/>

<p>Houses.bg is an online platform for selling properties in Bulgaria.Owners can advertise their properties for sale and thus find buyers without using an agency.</p>
