@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Properties in Bulgaria for sale</h1>
    <p>You can sell properties on our platform without using a broker.</p>
</div>